**/target
**/bower_components
**/node
**/node_modules
questions-with-classifier-ega-war/src/main/webapp/js/bundle.js
questions-with-classifier-ega-war/src/main/webapp/css
**/bootstrap
**/_bootstrap*
**/.DS_Store
*.log