<?xml version="1.0" encoding="UTF-8"?>
<!--  Copyright IBM Corp. 2015                                                 -->
<!--                                                                           -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");          -->
<!--  you may not use this file except in compliance with the License.         -->
<!--  You may obtain a copy of the License at                                  -->
<!--                                                                           -->
<!--      http://www.apache.org/licenses/LICENSE-2.0                           -->
<!--                                                                           -->
<!--  Unless required by applicable law or agreed to in writing, software      -->
<!--  distributed under the License is distributed on an "AS IS" BASIS,        -->
<!--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!--  See the License for the specific language governing permissions and      -->
<!--  limitations under the License.                                           -->
<server description="new server">
  <!-- Enable features -->
  <featureManager>
      <feature>jsp-2.2</feature>
      <feature>jaxrs-1.1</feature>
      <feature>jdbc-4.0</feature>
      <feature>jpa-2.0</feature>
      <feature>appSecurity-2.0</feature>
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="${httpPort}" host="*"/>

  <basicRegistry id="basic" realm="customRealm">
      <user name="apiuser" password="${env.MANAGE_API_PASSWORD}" />
  </basicRegistry>
  
  <!-- The Liberty buildpack can auto-create a dataSource, but it leaves out the connectionManager,
       which causes connection refused errors when we attempt to use more connections than the SQLDB
       small plan allows.
       
       We define just enough of the datasource here, and the buildpack will add deployment-specific properties.
       See https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/blob/master/lib/liberty_buildpack/services/relational_db.rb
       to understand what elements the build pack looks for and updates.
       
       If you are using a database that allows more or fewer than 20 concurrent connections,
       change maxPoolSize below.
  -->
  <dataSource id='db2-app-qaclassifier-db' jdbcDriverRef='db2-driver' jndiName='jdbc/app-qaclassifier-db' statementCacheSize='30' transactional='true'>
      <!-- properties.db2.jcc stanza will be updated during deployment -->
      <properties.db2.jcc />
      <connectionManager maxPoolSize="20" />
  </dataSource>
  <jdbcDriver id='db2-driver' libraryRef='db2-library' />
  <library id='db2-library'>
      <!-- fileset stanza will be updated during deployment -->
      <fileset id='db2-fileset' />
  </library>
  
  <application name="qaclassifier-app" context-root="/" location="questions-with-classifier-ega-war.war" type="war">
      <application-bnd>
          <security-role name="developer">
              <user name="apiuser" />
          </security-role>
      </application-bnd>
  </application>
</server>